{%extends "masterpage.html"%}

{%block content%}

<form method="post">
<table class="table" style="display:flex; justify-content:center;">
    <tr><td>Enter Card Number</td><td><input type="text" name="card_no" class="form-control" required/></td></tr>
    <tr><td>Enter CVV</td><td><input type="text" name="cvv" class="form-control" required/></td></tr>
    <tr><td>Enter Expiry Date</td><td><input type="text" name="expiry" class="form-control" required/></td></tr>
    <tr><td>Total Amount</td><td><input type="text" name="amount" class="form-control" readonly value="{{session['total']}}"/></td></tr>
    
    <tr><td><button class="btn btn-danger" type="submit">Make Payment</button></td><td></td></tr>
</table>
</form>

{%endblock%}
